<h1>Your Shopping Cart!</h1>

<ul id="cart-list">
  <% current_session.session_items.each do |session_item| %>
  <li class="">
    <%= "#{session_item.item.name}, #{session_item.item.price}0" %>
    <div class="remove-item-link" data-id="<%= session_item.id%>">
      Remove from cart
    </div>
    <br>
  </li>
  <% end %>
</ul>

<div class="empty-cart-link" data-session-id="<%= @session_id %>">
  Empty Cart
<%#= link_to "Empty Cart", empty_cart_session_items_path,
    :method => :delete %>
</div>


<script type="text/javascript">

  $(function() {
    $('.remove-item-link').click( function () {
      var that = this;
      var session_item_id = $(this).attr('data-id');
      $.post(
        '/session_items/' + session_item_id,
        {"_method":"delete"},
        function() {
          $(that).parent().remove();
        }
      );
    });

    $('.empty-cart-link').click( function () {
      var that = this;
      var session_id = $(this).attr('data-session-id');
      $.post(
        '/session_items/empty_cart',
        {"_method":"delete"},
        function() {
          $('#cart-list').empty();
        }
      );
    });

    $('#add-to-cart').click( function() {
      var item_id = $(this).attr('data-item-id')
      var item_name = $(this).attr('data-item-name')
      var item_price = $(this).attr('data-item-price')

      $.post(
        '/session_items.json',
        {
          session_item: {
            item_id: $(this).attr('data-item-id'),
            session_id: $(this).attr('data-session-id')
          }
        },
        function() {
          //$('#cart-list').append('<li>Added</li>');
          var ul = $('#cart-list').append('<li></li>');
          var listItem = ul.children().last();
          listItem.text(item_name + ', $' +item_price);
          var div = listItem.append('<div>Remove from cart</div>');
          var itemDiv = div.children();
          itemDiv.addClass("remove-item-link").attr('data-id', item_id)

        }
      );
    })
  })

// <li class="">item_name, item_price
//   <div class="remove-item-link" data-id="item_id" >
//       Remove from cart
//     </div>
//     <br>
//   </li>


</script>